div {
  width: 250px;
  height: 250px;
  border: 2px black solid;
}



/* .links {
    width: 250px;
}

.product_container {
    background-color: #eee;
    border: solid #000000 2px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 16px;
    text-align: center;
    margin: 0px;
}

.first_p {
    margin-bottom: 4px;
    margin-top: 20px;
}
 
 */